<div class="block-input">
    <div class="block-input__wrapper">
        <label class="block-input__label" for="{{code}}">{{name}}</label>
        <input type="{{type}}"  name="{{code}}" class="block-input__field" placeholder="{{value}}">
    </div>
    {{> line }}
</div>
